.account_main_section {
    /* position: absolute; */
    padding-left: var(--sidebar_width);
    padding-top: var(--header_height);
    /* top: 43px; */
    left: var(--sidebar_width);
    margin: 0;
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color:rgba(0, 0, 0, 0.5);
    display: none;
}

@media screen and (max-width: 600px) {
    .account_main_section {
        padding-left: 0;

    }

    .backdrop_displayed {
        display: inline;
    }
}