.cover_tabs_content {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    /* width: 850px; */
    width: min(100%, 850px);
    /* width: 100px; */
    height: 100%;
    /* top: var(--header_height); */
    /* gap: 10px; */
    /* background-color: aquamarine; */

}

.cover_img {
    object-fit: cover;
    /* max-height: 350px; */
    /* aspect-ratio: 850/350; */
    /* max-width: min(100%, 850px); */
    width: 100%;
    /* height: min(100%, 350px); */
    max-height: 350px;
    flex: 1;
}

.avatar_parent_div {
    position: relative;
}

.avatar_child_div {
    position: absolute;
    /* z-index: 10; */
    top: -93px;
    width: 100%;
    /* height: 100px; */
    /* background-color: aquamarine; */

}

.tabs {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    margin: 10px 0;
}