.messages {
    display: flex;
    gap: 10px;
}

.messages_sidebar {
    background-color: var(--darkest);
    width: 148px;
    height: fit-content;
    position: sticky;
    top: 59px;
}

.message_list {
    background-color: var(--darkest);
    flex: 1;
}

@media screen and (max-width: 805px) {
    .messages {
        flex-direction: column;
    }
    .messages_sidebar {
        width: 100%;
        text-align: center;
    }
}