.tab {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: var(--darker);
    flex: 1;
    padding: 7.5px;
    gap: 10px;
    text-decoration: none;
    height: 66px;
}

.tab_img {
    width: min(100%, 51px);
    height: min(100%, 46px);
    /* margin-right: 15px; */
}

.tab_selected {
    background-color: var(--darkest);
}

/*@media screen and (max-width: 730px) {
    .tab p {
        display: none;
    }
}*/
