.main_header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--darkest);
    padding: 10px;
    z-index: 2;
}

.main_header_content {
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
}

.main_header_content h1 {
    margin: 0;
    display: inline;
    color: white;
    font-size: x-large;
}

.spacer_logo_logout {
    flex: 1;
}

.hamburger {
    display: none;
}

.hamburger:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .hamburger {
        display: inline;
    }

    .spacer_hamburger_logo {
        flex: 1;
    }
}