.announce_grades {
    z-index: inherit;
    /* color: cyan; */
    height: fit-content;
    max-height: 75%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: min(100%, 350px);
    background-color: var(--darker);
    padding: 15px;
    overflow: scroll;
}

.input_field {
    background-color: var(--dark);
    height: 30px;
    width: 80px;
    padding: 5px;
}

.student_list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}